INWORLD_APY_KEY=***REMOVED***lLdHFSMkkwQ05JWjFJN3MxWQ==

# set PROJECT_ROOT if you have a consistent folder apart from the built-in default for your project assets
# to keep from having to type it on the command line all the time;
# for maximum happiness, keep output OUT of the project-kubrick folder and repo
# PROJECT_ROOT=../my-video-output-folder/projects
